.button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--lightBlue);
}

.button:active {
  background-color: var(--lightBlue);
}
